@charset "UTF-8";
/* 全体 */
html {
     font-size: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
.main-nav {
    display: flex  ;
    font-family: "Yu Gothic";
    font-size: 1.0rem;
}
a {
    color: white;
}
.page-header {
    display: inline-block;
}
nav ul {
    font-family: "Yu Gothic";
    font-weight: bold;
    color: white;
   }
nav li{
    margin-left: 20px;
    margin-right: 20px;
    text-align: right;
}
 body {
    background-color: black;
 }
.maintitle {
    text-align: center;
    margin: 15% 6% 15% 1%;
}
/* プロフィール */
.profile {
   margin: 3%;
    text-align: center;
   color: white;
   font-family: "Yu Gothic";
} 

/* 感想 */
.Impressions {
    margin: 3%;
    text-align: center;
   color: white;
   font-family: "Yu Gothic";
}
.week {
    margin: 3%;
    text-align: center;
   color: white;
   font-size: 20px;
   font-family: "Yu Gothic";
   font-weight: bold;
} 
.last {
    margin: 3%;
    text-align: center;
   color: white;
   font-size: 45px;
   font-family: "Yu Gothic";
   font-weight: bold;
} 
/* おまけ */
.omake {
    text-align: center;
    color: white;
    padding-bottom: 0%;
}
.buttons {
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.btn1 {
    padding: 20px 40px;
    background: blue;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px;
}
.btn2 {
    padding: 20px 40px;
    background: red;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px; 
    margin-left: 5%;
}
.rectangle {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
    background: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}


